<h2>Title: <%= @article.title %></h2>
<br>
<h2>Content: <%= @article.content %></h2>


<form method="post" action="/articles/<%= @article.id %>">
  <input type="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>

